# Build
public/
resources/

# Dépendances
node_modules/
vendor/

# PHPUnit
.phpunit.result.cache

# CSS généré (optionnel, tu peux le versionner ou non)
themes/laubardemont/static/css/styles.css

# Système
.DS_Store
.hugo_build.lock

# Variables d'environement
.env
.env.deploy
.hugo_stats.json
