{{ define "main" }}


    {{ $imgAccroche := resources.Get "images/chateau/rooms/salle-a-manger.jpg"}}
   
    
      
      {{ partial "gallery-triptyque.html" . }}
      

      <section class="lg:container mx-auto flex flex-row   p-4">
        {{ partial "section-inner-img-right.html" .}}
      </section>
   
    <h2 class="text-3xl mt-8 mb-4 font-['Roboto'] text-center">LOREM IPSUM</h2>
   

    

  
        
       
        
    
    <h2 class="text-3xl/10 font-['Roboto'] mb-3 mt-8">Le Confort</h2>
    <div class="lg:w-1/3 mx-auto   text-justify px-4 py-6 ">
        
        {{ with .Site.GetPage "presentation2.md" }}
        {{ .Content }}
        {{end}}
    </div>
   






{{ end }}