{{ define "main" }}

<div class="lg:container mx-auto">

    <div class="flex flex-row ">
        <div class="container width -1/2">
            {{ with .Resources.GetMatch "presentation1.md" }}
            {{ .Content }}
            {{end}}
        </div>
        {{ with .Params.mainImage }}
        {{ with resources.Get . }}
        <img class="w-1/2" src="{{ .RelPermalink }}" alt="">
        {{ end }}
        {{ end }}
    </div>



    <div class="layer right">
        <div class="content">
            {{ with .Resources.GetMatch "presentation2.md" }}
            {{ .Content }}
            {{end}}
        </div>


        {{ with .Params.gallery1 }}

        {{ with resources.Get . }}
        <img src="{{ .RelPermalink }}" alt="">

        {{ end }}

        {{ end }}


    </div>
<div class="md:container">

    <div class="grid grid-cols-4 gap-4">
        
        {{ with .Params.gallery2 }}
        {{ range . }}
        {{ with resources.Get . }}
        <img src="{{ .RelPermalink }}" alt="">
        
        {{ end }}
        {{ end }}
        {{ end }}
        
    </div>
    <div class="content center ">
        
        <h1>PORTFOLIO</h1>
    </div>
</div>

</div>
{{ end }}