<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 64" width="96" height="64" fill="none">
  <defs>
    <style>
      .s{stroke:currentColor;stroke-width:2;stroke-linecap:round;stroke-linejoin:round}
      .a{fill:#d9caa6;stroke:currentColor;stroke-width:2;stroke-linecap:round;stroke-linejoin:round}
    </style>
  </defs>

  <!-- stars -->
  <path class="s" d="M74 12l1 2 2 1-2 1-1 2-1-2-2-1 2-1 1-2Z"/>
  <path class="s" d="M84 18l1 2 2 1-2 1-1 2-1-2-2-1 2-1 1-2Z"/>
  <path class="s" d="M66 18l1 2 2 1-2 1-1 2-1-2-2-1 2-1 1-2Z"/>

  <!-- umbrella -->
  <path class="a" d="M18 28c8-12 22-12 30 0H18Z"/>
  <path class="s" d="M33 28v24"/>
  <path class="s" d="M18 28h30"/>

  <!-- table + chairs -->
  <path class="s" d="M12 56h56"/>
  <path class="s" d="M24 52v-10h20v10"/>
  <path class="s" d="M14 52v-8h8v8"/>
  <path class="s" d="M46 52v-8h8v8"/>

  <!-- plant pot -->
  <path class="s" d="M72 56v-8h12v8"/>
  <path class="s" d="M78 48v-8"/>
  <path class="s" d="M78 40c-6-2-8-7-8-7 6 0 10 3 10 7"/>
  <path class="s" d="M78 40c6-2 8-7 8-7-6 0-10 3-10 7"/>
</svg>

