<meta charset="utf-8">
<meta name="viewport" content="width=100vw, height=100vH, minimum-scale=1.0, initial-scale=1.0">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>


<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<link rel="stylesheet" href="{{ "css/styles.css" | relURL }}">



<script>
    document.addEventListener('DOMContentLoaded', function () {
      const links = document.querySelectorAll('.load-section');
      const target = document.getElementById('dynamic-content');
    
      links.forEach(link => {
        link.addEventListener('click', function (e) {
          e.preventDefault();
          const url = this.getAttribute('data-target');
    
          fetch(url)
            .then(res => res.text())
            .then(html => {
              const parser = new DOMParser();
              const doc = parser.parseFromString(html, 'text/html');
              const content = doc.querySelector('.main-content'); // ajuste selon ton layout
    
              if (content) {
                target.innerHTML = content.innerHTML;
                window.scrollTo({ top: target.offsetTop, behavior: 'smooth' });
              }
            })
            .catch(err => {
              target.innerHTML = "<p>Erreur de chargement.</p>";
            });
        });
      });
    });
    </script>
    

