<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
  
</head>

<body>
 
  <main>
   
    {{ if .IsHome }}
    <div class="xl:container mx-auto">

      <header>
        {{ partial "home-header.html" . }}
      </header>

    </div>
    <div class="lg:container mx-auto">
     
      {{ block "main" . }}
      {{ end }}
    </div>
    {{ else }}

    <header>
      {{ partial "header.html" . }}
    </header>

    <div class="lg:container mx-auto">
      {{ block "main" . }}
      {{ end }}
    </div>
    {{ end }}
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>

</html>