{{ define "main"}}
<div class="px-4 flex flex-col items-center">


    <div class="flex flex-col w-full lg:w-1/2 mt-8 mb-8 lg:mb-24">
        {{ .Content }}
    </div>
    {{ with .Params.mainImage }}
    {{ with resources.Get . }}
    <img class="w-full lg:mt-24" src="{{ .RelPermalink }}" alt="">
    {{ end }}
    {{ end }}
    {{ with .Params.images }}
    {{partial "gallery.html" .}}
    {{ end }}

    <div class="bg-black flex flex-col items-center">

        <h2 class="text-3xl text-white text-center mt-8 mb-8 ">Nos Offres</h2>
        
        <div class="grid sm:grid-cols-1 md:grid-cols-3 gap-4 mx-auto px-4 my-6 ">
            {{range .Resources.Match "offres/*.*"}}
            
            {{partial "offer.html" .}}
            
            
            {{end}}
        </div>
        
    </div>

</div>





{{ end }}