{{ define "main"}}
<div class="px-4 flex flex-col items-center">


    <div class="flex flex-col w-full lg:w-1/2 mt-8 mb-8 lg:mb-24">
        {{ .Content }}
    </div>
    {{ with .Params.mainImage }}
    {{ with resources.Get . }}
    <img class="w-full lg:mt-24" src="{{ .RelPermalink }}" alt="">
    {{ end }}
    {{ end }}
    <div class=" grid lg:grid-cols-2 sm:grid-cols-1 gap-2 mt-2 lg:mt-8 mb-24">
        {{ with .Params.images }}
        {{ range . }}
        {{ with resources.Get . }}
        <img class="w-full min-h-full" src="{{ .RelPermalink }}" alt="">

        {{ end }}
        {{ end }}
        {{ end }}
    </div>
    <h2 class="text-3xl mb-8 mx-auto">Nos Offres</h2>

    <div class="grid sm:grid-cols-1 md:grid-cols-3 gap-4  my-6 lg:px-24">

        <div class="shadow flex flex-col p-6  rounded bg-white">


            {{ with .Resources.GetMatch "offreSilver.md" }}
            <div class="lg:container flex flex-col items-center justify-between min-h-full ">
                {{partial "offer.html" .}}
            </div>
            {{end}}

        </div>
        <div class="shadow flex flex-col p-6  rounded">


            {{ with .Resources.GetMatch "offre-Gold.md" }}
            <div class="lg:container flex flex-col items-center justify-between min-h-full ">
                {{partial "offer.html" .}}
            </div>
            {{end}}

        </div>
        <div class="shadow flex flex-col p-6 rounded">

            {{ with .Resources.GetMatch "offre-platinium.md" }}
            <div class="lg:container flex flex-col items-center justify-between min-h-full ">
                {{partial "offer.html" .}}
            </div>
            {{end}}

        </div>

    </div>


</div>
<div class="lg:container">

</div>
<div class="p-4">

</div>




{{ end }}